.customer-container {
    padding: 10px;
    background-color: var(--bg-color-soft);
    margin-top: 10px;
    border-radius: 10px;
  }
  
  .customer-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
  .search-input {
    padding: 7px;
    flex: 1 1 auto;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
  }
  
  .customer-input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 10px;
  }
  
  .customer-input:focus {
    outline: none;
  }
  
  .search-button {
    padding: 7px;
    flex: 1 1 auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
  }
  
  .add-button {
    padding: 4px 8px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid gray;
    color: var(--text-color);
    cursor: pointer;
  }
  .add-button:hover{
    background-color: var(--bg-color);
  }
  
  .customer-table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 99%;
  }
  
  .customer-table td,
  .customer-table th {
    text-align: left;
    padding: 8px;
  }
  
  .customer-table tr:hover {
    background-color: rgba(45, 55, 74, 0.3);
  }
  
  .td-link {
    padding: 4px 7px;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
  }
  
  .link-view {
    background-color: teal;
    margin-right: 4px;
  }
  
  .link-edit {
      background-color: #5d57c9;
    margin-left: 4px;
  }
  